@import '../styles/_variables';

select, option {
    width: 144px;
}

.dropdown {
    display: inline-block;

    &-after{
        &::before {
            content: '˅';
            margin-top: 2px;
            margin-left: -26px;
            pointer-events: none;
            font-size: 0.3rem;
        }
        display: inline-block;
    } 
}