@charset "UTF-8";
select, option {
  width: 144px; }

.dropdown {
  display: inline-block; }
  .dropdown-after {
    display: inline-block; }
    .dropdown-after::before {
      content: '˅';
      margin-top: 2px;
      margin-left: -26px;
      pointer-events: none;
      font-size: 0.3rem; }
