@import '../styles/_variables';

.navigation-container {
    white-space: nowrap;
    line-height: $row-height;
    position: absolute;
    left: 0;

    > button  {
        vertical-align: middle;
        margin: 0 8px;
        border: 0;
        background-color: transparent;
    }
    select {
        height: $input-height;
        padding: 0 8px;
        margin: 0 4px;
        border: 1px solid gray;
        appearance: none;
        border-radius: 0;
        width: 88px;
    }
}

