.navigation-container {
  white-space: nowrap;
  line-height: 44px;
  position: absolute;
  left: 0; }
  .navigation-container > button {
    vertical-align: middle;
    margin: 0 8px;
    border: 0;
    background-color: transparent; }
  .navigation-container select {
    height: 30px;
    padding: 0 8px;
    margin: 0 4px;
    border: 1px solid gray;
    appearance: none;
    border-radius: 0;
    width: 88px; }
