.list-item {
  border-top: 1px solid lightgray;
  width: 100%;
  height: 44px;
  overflow: hidden; }
  .list-item > div {
    display: inline-block;
    width: 7.69231%;
    height: 100%;
    text-align: left;
    overflow: hidden;
    white-space: normal;
    line-height: 44px; }
  .list-item .part-number {
    text-align: center; }
