@import '../styles/_variables';

.list-heading {
    border: 2px solid white;
    height: $row-height;

    .list-labels > div{
        vertical-align: top;
        line-height: normal;
        margin-top: 8px;
    }
}

