@import '../styles/_variables';

.list-item {
    border-top: 1px solid lightgray;
    width: 100%;
    height: $row-height;
    overflow: hidden;

    > div {
        display: inline-block;
        width: (100%/13);
        height: 100%;
        text-align: left;
        overflow: hidden;
        white-space: normal;
        line-height: $row-height;
    }

    .part-number {
        text-align: center;
    }
}