@import '../styles/_variables';
@import '../styles/_colors';

input {
    height: $input-height;
    padding: 0 8px;
    margin: 0;
    border: 1px solid gray;

    &::placeholder {
        padding-left: 12px;
    }
}

.search {
    button {
        height: $input-height + 2;
        padding: 0 7px;
        border-radius: 0;
        margin: 0 2px;
        border: 1px solid gray;
        background-color: $qpl-heading-color;
    }
}
