input {
  height: 30px;
  padding: 0 8px;
  margin: 0;
  border: 1px solid gray; }
  input::placeholder {
    padding-left: 12px; }

.search button {
  height: 32px;
  padding: 0 7px;
  border-radius: 0;
  margin: 0 2px;
  border: 1px solid gray;
  background-color: #f8f8f8; }
